body
{
    background: url(https://images6.alphacoders.com/114/1148181.png);
    background-blend-mode: darken;
    background-size: cover;
    user-select: none;
    overflow: hidden;
}

.navbar
{
    display: inline-block;
    vertical-align: top;

    background: #fff;
    height: 90vh;
    width: 20rem;
}

.tab-button
{
    width: 100%;
    height: 36px;
}

.tab-button p
{
    display: inline-block;
    vertical-align: middle;

    margin: 0;
    width: calc(100% - 5px);
    height: 36px;

    font-family: "Arial";
    font-size: 30px;
    text-align: center;
}

.tab-button:hover::before, .tab-button-active::before
{
    content: "";

    background-color: #6c0eff;
    display: inline-block;
    vertical-align: middle;

    width: 3px;
    height: 100%;
}

.content
{
    display: inline-block;
    vertical-align: top;

    margin-left: 1rem;
    width: calc(90vw - 20rem);
    height: 90vh;
}

.tab
{
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;
}

.hidden
{
    width: 0;
    height: 0;
    visibility: hidden;
}

.tab *
{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: -2px -2px 0 #000, 0px -2px 0 #000, 2px -2px 0 #000, -2px 0px 0 #000, 0px 0px 0 #000, 2px 0px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000, 2px 2px 0 #000
}